/*html{
    font-size:62.5%;
}
*/
@font-face {
    font-family:digital-7mono;
    src: url('font/Digital7Mono-Yz9J4.ttf');
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgrey;
    border-radius: 5rem;
    padding: 2.0rem 2.5rem;
    padding-top: 6.6rem;
    box-shadow: rgba(0, 0, 0, .2) 1.5rem 2.8rem 2.5rem -1.8rem;
}

.container{
    display:flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0rem;
}

.operators{
    display: flex;
    gap: 1rem;
    font-size:xx-large;
    padding-bottom: 1rem;
}

.numbers{
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    font-size:xx-large;
}
.left{
    display:flex;
    flex-direction: column;

}

.operands{
    display: flex;
}

.equalTo{
    align-self: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size:xx-large;
}

button{
    height: 10rem;
    width: 10rem;
    cursor: pointer;
    font-size: 3.5rem;
    border-radius: 1.8rem;
    background-color: #6B6B6B;
    border:#3B3B3B;
    color: whitesmoke;
}

#right{
    height: 43rem;
}

.textfield{
    height: 8rem;
    width: 29rem;
    margin-bottom: 2rem;
    font-size: 7.2rem;
    padding: 1.2rem;
    border-radius: 1.8rem;
    font-family: digital-7mono;
    color: rgb(32, 144, 102);
    background-color: #3B3B3B;
    border: none;
}

.head1{
    padding: auto;
}
.head2{
    display: flex;
    gap: 1rem;
}

.clear{
    height: 10.4rem;
    background-color: indianred;
    border-radius: 1.8rem;
    border: none;
}

h1{
    font-family:digital-7mono;
    text-align: center;
    color: whitesmoke;
    font-size:4rem;

}

h5{
    margin: 5rem 0 0 0;
    color: whitesmoke;
}

html{
    background-color: slategrey;
}

.footer{
    position: fixed; 
    bottom: 0;
    left: 45vw;
    font-size: 1.8rem;
}


input::placeholder{
    padding-top:0rem;
    font-size: 4rem;
    text-align: center;
}

button:hover{
    background-color:#5e5e5e;
}

.clear:hover{
    background-color: #b75454;
}

/*Extra small devices*/
@media only screen and (max-width: 600px) {
    html{
        font-size: 30%;
    }
  }
  
  /*Small devices*/
  @media only screen and (min-width: 600px) {
    html{
        font-size: 40%;
    }
  }
  
  /* Medium devices*/
  @media only screen and (min-width: 768px) {
    html{
        font-size: 45%;
    }
  } 
  
  /* Large devices */
  @media only screen and (min-width: 992px) {
    html{
        font-size: 55%;
    }
}
  /* Extra large devices*/
  @media only screen and (min-width: 1200px) {
    html{
        font-size: 60%;
    }

  }
/*@media(max-width: 998px){

    html{
        font-size: 55%;
    }

}

@media(max-width:768px){
  
    html{
        font-size: 45%;
    }

  }